body {
    margin: 0;
    padding: 0;
    background-color: #f8f8f5;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    background-image: url(./img/fundo_.jpg);
    background-repeat: no-repeat; 
    background-position: center 0%;
    background-size: 85%;
     
  }
  
  h1 {
    margin: 40px;
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 4em;
    color: rgb(57, 56, 56);
  }
  
  ul {
    display: block;
    list-style: none;
    padding: 0;
    
  }
  
  li {
    max-width: 590px;
    margin: 10px auto;
    padding: 10px 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
    border: 1px solid rgb(190, 186, 186);
  } 

  .form {
    display: flex;
    gap: 5px;
    margin: 10px auto;
    max-width: 600px;
  }

  #item {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid rgb(57, 56, 56);
    box-sizing: border-box;
    border-radius: 4px;
  }

  #quantity {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 50%;
    border: 1px solid rgb(57, 56, 56);
    box-sizing: border-box;
    border-radius: 4px;
  }

  .btnAdd {
    margin: 10px 0;
    padding: 10px;
    width: 50%;
    border: none;
    background-color: rgb(57, 56, 56);
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
  }

  .checked {
    text-decoration: line-through;
  }
  
  .btnExcluir {
    width: 20%;
    border: none;
    background-color: transparent;
    color: rgb(57, 56, 56);

 }

 @media screen and (max-width: 670px) {
  body {
    margin: 0;
    padding: 0;
    background-color: #f8f8f5;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    background-image: none;
    background-position: center 0%;
    background-size: 85%;
     
  }

  h1 {
    margin: 10px;
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 2em;
    color: rgb(57,56,56);
  }
}